{% extends "ECENetagoraBundle::menu_notlogged.html.twig" %}
{% block content %}

	<div id="website_title">Resources</div>
				<div id="block_container" class="about">
					
					<p class="text">Because we used some images, tutorials, and other resources from other websites. Here is the list of the web resources:</p><br />

					
				</div>
	
			
			</div>
	

{% endblock %}