{% extends "ECENetagoraBundle::menu_logged.html.twig" %}

{% block content %}

    <form id="settings">
    	<fieldset>
    		<legend class="subtitle">Connect your accounts</legend>
    		<ol>
    			<li>
    				Twitter account<br />
    				<div id="connect_twitter"><img src="{{ asset('bundles/ecenetagora/images/twitter/bird.png') }}" /></div>
    			</li>
    			
    		</ol>
    		    		
    	</fieldset>
    	
    	<div class="division"></div>
    	
    	<fieldset>
    		<legend class="subtitle">Invite friends</legend>
    		<ol>
    			<li>
    				Win badges by inviting five friends!<br />
    				<input id=invite1 name=invite1 type=text placeholder="Mail address"><br />
    				<input id=invite2 name=invite2 type=text placeholder="Mail address"><br />
    				<input id=invite3 name=invite3 type=text placeholder="Mail address"><br />
    				<input id=invite4 name=invite4 type=text placeholder="Mail address"><br />
    				<input id=invite5 name=invite5 type=text placeholder="Mail address">	
    			</li>
    			
    		</ol>

			<button type=submit>Invite</button>
		</fieldset>
    	    	
    </form>
        
{% endblock %}