{% extends "ECENetagoraBundle::menu_logged.html.twig" %}

{% block content %}

    <form id="settings">
    	<fieldset>
    		<legend class="subtitle">Connect your accounts</legend>
    		<ol>
    			<li>
    				<label for=connect_twitter>Twitter</label><br />
    				<div id="connect_twitter"><img src="{{ asset('bundles/ecenetagora/images/twitter/bird.png') }}" /></div>
    			</li>
    			
    		</ol>
    		    		
    	</fieldset>
    	    	
    </form>
        
{% endblock %}